@mixin footer__list--title {
    color:white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}
@mixin footer__list--list {
    color:grey;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Noto Sans Ethiopic', sans-serif;
}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
}
body{ 
    height: 100vh;
    width: 100%;
}

.logo {
    margin-top: 30px;
    display: flex;
}

.header__nav { 
    background-color: transparent;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    a {
        width:180px;
        height:40px;
        line-height:40px;
        text-align: center;
        font-size:15px;
        margin-right: 5px; 
    }

        ul { 
        display: flex;
        flex-direction: row;
        /*justify-content:space-between;*/
        /*align-content: space-between;*/
        list-style: none; 
            li {
                width:180px;
                height:40px;
                line-height:40px;
                text-align: center;
                font-size:15px;
                margin-right: 5px;
            
                    a {
                    text-decoration: none;
                    /* color:white; */
                    }
                }
        }
    } 


.team{
    background-image: url(/images/imgbg-ourchefs.jpg);
    z-index: 0;
    .team__background{
        p{
            position: absolute;
            left:0;
            font-size: 180px;
            z-index: 1;
            color:#FAF6F0;
            opacity: 0.05;
        }
    }
        .team__title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 100px;
            padding-top: 100px;
            z-index: 2;
            h3{
                font-family: 'Merriweather', serif;
                font-size: 30px;
                font-weight:lighter;
                color: white;
            }
            h4{
                font-family: 'Noto Sans Ethiopic', sans-serif;
                font-size: 15px;
                color:white;
            }
        
        
    }
    .team__pic{
        padding-bottom: 100px;
          ul{
            display: grid;
            grid-template-columns: repeat(4,20%);
            grid-template-rows: repeat(1, auto);
            grid-gap: 1px;
            align-items: center;
            justify-content: center;
            li{
                img{
                    width:80%;
                }
            }
          }  
    }
}



.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    .blog__background{
        p{
            position: absolute;
            left:0;
            font-size: 180px;
            z-index: -999;
            color:#FAF6F0;
        }
    }
    .blog__title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        z-index: 999;
        h3{
            font-family: 'Merriweather', serif;
            font-size: 30px;
            font-weight:lighter;
        }
        h4{
            font-family: 'Noto Sans Ethiopic', sans-serif;
            font-size: 15px;
        }
    }
    .blog__article{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-gap: 20px;
        z-index: 999;
       
        .blog__article__bloc{
           
            background-color: #FAF6F0;
         
            img{
                width:20em;
            }
            .bloc_info{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 30px;
                p.author{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-family: 'Noto Sans Ethiopic', sans-serif;
                    font-size: 13px;
                    padding-top: 15px;
                    .material-symbols-outlined{
                        color:#C8A96A;
                        width:30px;
                    }
                }
                p.date{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 20px;
                    font-family: 'Noto Sans Ethiopic', sans-serif;
                    font-size: 13px;
                    padding-top: 15px;
                    .material-symbols-outlined{
                        color:#C8A96A;
                        width:30px;
                    }
                    
                }
        }
            .bloc_text{
                margin-top: 15px;
                margin-bottom: 30px;
                padding-left: 30px;
                p{
                    font-family: 'Merriweather', serif;
                    text-transform: capitalize;
                }
            }
            .bloc_button{
                margin-bottom: 50px;
                padding-left: 30px;
                a{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-family: 'Noto Sans Ethiopic', sans-serif;
                    color:black;
                    background-color: white;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 25px;
                    padding-right: 25px;
                    border: 1px solid white;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 12px;
                    width:48%;
                    .material-symbols-outlined{
                        color:black;
                        font-size: 20px;
                        
                    }
                }
                a:hover{
                    color: white;
                    background-color: #C8A96A;
                    border: 1px solid #C8A96A;
                    transition:0.5s;
                }
            }
    }
        
    }
    .blog__brand{
        ul{
            display: flex;
            flex-direction: row;
            li{
                list-style: none;
                padding: 35px;
               
            }
        }
    }
}


footer{
    height: 100%;
    background-image: url(/images/img-ng-footer.jpg);
    .footer__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5em;
    }
    .footer__menu{    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-top: 5em;
            .footer__about ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding-right: 5em;
                .footer__about--list{
                    padding-bottom: 20px;
                }   
                .footer__about--title{
                    padding-bottom: 20px;
                }       
                  .footer__about--title a{
                    @include footer__list--title();
                }
                .footer__about--list a{
                    @include footer__list--list();
                }
            }
            .footer__facilities ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding-right: 5em;
                .footer__facilities--list{
                    padding-bottom: 20px;
                }  
                .footer__facilities--title {
                    padding-bottom: 10px;
                }
                .footer__facilities--title a{
                    @include footer__list--title();
                }
                .footer__facilities--list a{
                    @include footer__list--list();
                }
            }
            .footer__newsletter ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding-right: 5em;
                .footer__newsletter--list{
                    padding-bottom: 20px;
                }  
                .footer__newsletter--title {
                    padding-bottom: 20px;
                }
                .footer__newsletter--title {
                    @include footer__list--title();                  
                }
                .footer__newsletter--list{
                    @include footer__list--list();
                  
                }
                label{
                    position: relative;
                    input{
                        background-color: white;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        padding-left: 10px;
                        width:25em;
                        border:none;
                        border-radius: 2px;
                    }
                    input::placeholder{
                        color:black;
                    }
                    button{
                        padding-top: 9px;
                        padding-bottom: 9px;
                        padding-left: 15px;
                        padding-right: 15px;
                        border:none;
                        border-radius: 0 2px 2px 0;
                        position: absolute;
                        right:0px;
                        background-color: #C8A96A;
                        color:white;
                        
                    }
                }
               
            }
            .footer__contact ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                .footer__contact--list{
                    padding-bottom: 20px;
                }
                .footer__contact--title {
                    padding-bottom: 20px;
                }
                .footer__contact--title a{
                    @include footer__list--title();
                }
                .footer__contact--list a{
                    @include footer__list--list();
                    display: flex;
                    flex-direction: row;
                }               
                .material-symbols-outlined{
                    color:#C8A96A;
                    width:30px;
                }

            }
            
    }
    .footer__foot{
        display: flex;
        flex-direction: row;
        justify-content: space-around;       
        border-top:1px solid #111516;
        margin-bottom: 40px;
        p{
            color:grey;
            text-decoration: none;
            font-size: 12px;
            font-family: 'Noto Sans Ethiopic', sans-serif;
            a{
                color:#C8A96A;
            }
        }
        img{
            width: 5em;
            
            
        }
        nav{
            margin-top: 40px;
            li{
              display: inline;
               color: white;
               font-size: 15px;
               background-color: grey;
               border-radius: 100%;
               padding: 10px;
            }
            li:hover{
                display: inline;
                 color: white;
                 font-size: 15px;
                 background-color: #C8A96A;
                 border-radius: 100%;
                 padding: 10px;
                 transition: 0.4s;
              }
        }
    }
}

@media (max-width:480px){

    .team{
        .team__pic{
            padding-bottom: 100px;
              ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                li{
                    img{
                        width:100%;
                    }
                }
              }  
        }
    }


    .blog{
        .blog__background{
            p{              
                font-size: 130px;
                
            }
        }
        .blog__article{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-gap: 20px;
        }
            .blog__brand{
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li{
                        list-style: none;
                        padding: 35px;
                       
                    }
                }
            }
        }
    
   
    footer{
        width:100%;
        height: 90em;
     
        .footer__menu{
            display:flex;
            flex-direction:column;
            padding-left:2em;
            .footer__newsletter ul{
                padding-right:0;
                label{
                    input{
                        width:90%;
                    }
                }
            }
            
        }
        .footer__foot{
            flex-direction: column;
            align-items: center;
            p{
                width:200px;
                text-align: center;
                img{
                    display:none;
                }
            }
        }
    }
}


@media (max-width:768px) and (min-width:481px){

    .team{
        .team__background{
            p{              
                font-size: 100px;
                
            }
        }
        .team__pic{
            padding-bottom: 100px;
              ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                li{
                    img{
                        width:100%;
                    }
                }
              }  
        }
    }


    .blog{
        .blog__article{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-gap: 20px;
        }
        .blog__brand{
            ul{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-gap: 20px;
                li{
                    list-style: none;
                    padding: 35px;
                   
                }
            }
        }
            
        }

    footer{
        width:100%;
        height: 90em;
        background-color: black;
        .footer__menu{
            display:flex;
            flex-direction:column;
            padding-left:5em;
        }
        .footer__foot{
            flex-direction: column;
            align-items: center;
            p{
                width:200px;
                text-align: center;
                img{
                    display:none;
                }
            }
        }
    }
}