* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
}

.logo {
  margin-top: 30px;
  display: flex;
}

.header__nav {
  background-color: transparent;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__nav a {
  width: 180px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  margin-right: 5px;
}
.header__nav ul {
  display: flex;
  flex-direction: row;
  /*justify-content:space-between;*/
  /*align-content: space-between;*/
  list-style: none;
}
.header__nav ul li {
  width: 180px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  margin-right: 5px;
}
.header__nav ul li a {
  text-decoration: none;
  /* color:white; */
}

.about-us .about-us__background p {
  position: absolute;
  left: 0;
  font-size: 180px;
  z-index: -1;
  color: #C8A96A;
  opacity: 0.1;
}
.about-us .about-us__background .about-us__icon {
  position: absolute;
  top: 30px;
  right: 150px;
}
.about-us .about-us__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.about-us .about-us__title h3 {
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-weight: lighter;
  color: black;
  z-index: 2;
}
.about-us .about-us__title h4 {
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-size: 15px;
  color: black;
  z-index: 2;
}
.about-us .about-us__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.about-us .about-us__info .info__pic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .about-us__info .info__text p {
  width: 400px;
  font-size: 25px;
  padding-left: 50px;
  padding-bottom: 35px;
  font-family: "Noto Sans Ethiopic", sans-serif;
  letter-spacing: 1px;
}
.about-us .about-us__info .info__text .info__btn {
  margin-left: 50px;
  margin-bottom: 25px;
  text-decoration: none;
  background-color: #C8A96A;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Noto Sans Ethiopic", sans-serif;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  width: 180px;
}

.our-menu {
  position: relative;
  background-color: #FAF6F0;
  z-index: auto;
}
.our-menu .our-menu__background p {
  position: absolute;
  left: 0;
  font-size: 180px;
  z-index: 2;
  color: #F5EEE3;
}
.our-menu .our-menu__background img {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: auto;
  z-index: 1;
}
.our-menu .our-menu__background .secondpic {
  position: absolute;
  left: 0;
  top: 230px;
  width: 15%;
  height: auto;
  z-index: 1;
}
.our-menu .our-menu__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  padding-top: 80px;
}
.our-menu .our-menu__title h3 {
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-weight: lighter;
  color: black;
  z-index: 2;
}
.our-menu .our-menu__title h4 {
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-size: 15px;
  color: black;
  z-index: 3;
}
.our-menu .our-menu__menu {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 30px;
  justify-content: center;
  padding-bottom: 213px;
  z-index: 4;
}
.our-menu .our-menu__menu .our_menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding-top: 20px;
  border-radius: 5px;
  z-index: 999;
}
.our-menu .our-menu__menu .our_menu__list .list__text {
  padding-left: 30px;
}
.our-menu .our-menu__menu .our_menu__list .list__text .list__title {
  font-family: "Merriweather", serif;
  padding-bottom: 10px;
  font-size: 15px;
  text-transform: capitalize;
}
.our-menu .our-menu__menu .our_menu__list .list__text .list__title2 {
  font-family: "Merriweather", serif;
  font-size: 12px;
  text-transform: capitalize;
}
.our-menu .our-menu__menu .our_menu__list .list__price {
  font-family: "Merriweather", serif;
  color: #C8A96A;
  font-size: 30px;
  padding-right: 30px;
}
.our-menu .our-menu__menu .our_menu__list:hover {
  background-image: repeating-linear-gradient(0deg, #C8A96A, #C8A96A 9px, transparent 9px, transparent 13px, #C8A96A 13px), repeating-linear-gradient(90deg, #C8A96A, #C8A96A 9px, transparent 9px, transparent 13px, #C8A96A 13px), repeating-linear-gradient(180deg, #C8A96A, #C8A96A 9px, transparent 9px, transparent 13px, #333333 13px), repeating-linear-gradient(270deg, #C8A96A, #C8A96A 9px, transparent 9px, transparent 13px, #C8A96A 13px);
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

.gallery .gallery__background p {
  position: absolute;
  left: 0;
  font-size: 180px;
  z-index: -1;
  color: #C8A96A;
  opacity: 0.1;
}
.gallery .gallery__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.gallery .gallery__title h3 {
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-weight: lighter;
  color: black;
  z-index: 2;
}
.gallery .gallery__title h4 {
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-size: 15px;
  color: black;
  z-index: 2;
}
.gallery .gallery__pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.gallery .gallery__pic .first-column {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.gallery .gallery__pic .first-column .first-column-first-row .pic1 {
  position: relative;
  background-image: url("../../images/img1gallerybox.jpg");
  width: 630px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-first-row .pic1 .pic__title {
  color: white;
  font-size: 40px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-first-row .pic1 .pic__title2 {
  color: white;
  font-size: 20px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-first-row .pic1 .material-symbols-outlined {
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-first-row .pic1:hover {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url("../../images/img1gallerybox.jpg");
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-first-row .pic1:hover .pic__title {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .first-column .first-column-first-row .pic1:hover .pic__title2 {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .first-column .first-column-first-row .pic1:hover .material-symbols-outlined {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .first-column .first-column-second-row {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic2 {
  margin-right: 30px;
  width: 300px;
  height: 400px;
  background-image: url(../../images/img4gallerybox.jpg);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic2 .pic__title {
  color: white;
  font-size: 40px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic2 .pic__title2 {
  color: white;
  font-size: 20px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic2 .material-symbols-outlined {
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic2:hover {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url("../../images/img4gallerybox.jpg");
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic2:hover .pic__title {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic2:hover .pic__title2 {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic2:hover .material-symbols-outlined {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-image: url(../../images/img5gallerybox.jpg);
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic3 .pic__title {
  color: white;
  font-size: 40px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic3 .pic__title2 {
  color: white;
  font-size: 20px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic3 .material-symbols-outlined {
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic3:hover {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url("../../images/img5gallerybox.jpg");
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic3:hover .pic__title {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic3:hover .pic__title2 {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .first-column .first-column-second-row .pic3:hover .material-symbols-outlined {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .second-column {
  display: flex;
  flex-direction: column;
}
.gallery .gallery__pic .second-column .second-column-first-row {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic5 {
  margin-left: 30px;
  width: 300px;
  height: 400px;
  background-image: url(../../images/img3gallerybox.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic5 .pic__title {
  color: white;
  font-size: 40px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic5 .pic__title2 {
  color: white;
  font-size: 20px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic5 .material-symbols-outlined {
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic5:hover {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url("../../images/img3gallerybox.jpg");
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic5:hover .pic__title {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic5:hover .pic__title2 {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic5:hover .material-symbols-outlined {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic4 {
  transition: 0.3s ease-in-out;
  width: 300px;
  height: 400px;
  background-image: url(../../images/img2gallerybox.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic4 .pic__title {
  color: white;
  font-size: 40px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic4 .pic__title2 {
  color: white;
  font-size: 20px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic4 .material-symbols-outlined {
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic4:hover {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url("../../images/img2gallerybox.jpg");
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic4:hover .pic__title {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic4:hover .pic__title2 {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .second-column .second-column-first-row .pic4:hover .material-symbols-outlined {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .second-column .second-column-second-row .pic6 {
  width: 630px;
  height: 400px;
  background-image: url(../../images/img6gallerybox.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-second-row .pic6 .pic__title {
  color: white;
  font-size: 40px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-second-row .pic6 .pic__title2 {
  color: white;
  font-size: 20px;
  font-family: "Merriweather", serif;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-second-row .pic6 .material-symbols-outlined {
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-second-row .pic6:hover {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url("../../images/img6gallerybox.jpg");
  transition: 0.5s ease-in-out;
}
.gallery .gallery__pic .second-column .second-column-second-row .pic6:hover .pic__title {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .second-column .second-column-second-row .pic6:hover .pic__title2 {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__pic .second-column .second-column-second-row .pic6:hover .material-symbols-outlined {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.gallery .gallery__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.gallery .gallery__btn a {
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Noto Sans Ethiopic", sans-serif;
  color: black;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  transition: 0.5s ease-in-out;
}
.gallery .gallery__btn a:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease-in-out;
}

.team {
  background-image: url(../../images/imgbg-ourchefs.jpg);
  z-index: 0;
  width: 100%;
}
.team .team__background p {
  position: absolute;
  left: 0;
  font-size: 180px;
  z-index: 1;
  color: #FAF6F0;
  opacity: 0.05;
}
.team .team__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
  z-index: 2;
}
.team .team__title h3 {
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-weight: lighter;
  color: white;
}
.team .team__title h4 {
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-size: 15px;
  color: white;
}
.team .team__pic {
  padding-bottom: 100px;
}
.team .team__pic ul {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(1, auto);
  grid-gap: 1px;
  align-items: center;
  justify-content: center;
}
.team .team__pic ul li img {
  width: 80%;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.blog .blog__background p {
  position: absolute;
  left: 0;
  font-size: 180px;
  z-index: -999;
  color: #FAF6F0;
}
.blog .blog__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  z-index: 999;
}
.blog .blog__title h3 {
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-weight: lighter;
}
.blog .blog__title h4 {
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-size: 15px;
}
.blog .blog__article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-gap: 20px;
  z-index: 999;
}
.blog .blog__article .blog__article__bloc {
  background-color: #FAF6F0;
  transition: 0.4s ease-in-out;
  border: 1px solid transparent;
}
.blog .blog__article .blog__article__bloc img {
  width: 20em;
}
.blog .blog__article .blog__article__bloc .bloc_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}
.blog .blog__article .blog__article__bloc .bloc_info p.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-size: 13px;
  padding-top: 15px;
}
.blog .blog__article .blog__article__bloc .bloc_info p.author .material-symbols-outlined {
  color: #C8A96A;
  width: 30px;
}
.blog .blog__article .blog__article__bloc .bloc_info p.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-size: 13px;
  padding-top: 15px;
}
.blog .blog__article .blog__article__bloc .bloc_info p.date .material-symbols-outlined {
  color: #C8A96A;
  width: 30px;
}
.blog .blog__article .blog__article__bloc .bloc_text {
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 30px;
}
.blog .blog__article .blog__article__bloc .bloc_text p {
  font-family: "Merriweather", serif;
  text-transform: capitalize;
}
.blog .blog__article .blog__article__bloc .bloc_button {
  margin-bottom: 50px;
  padding-left: 30px;
}
.blog .blog__article .blog__article__bloc .bloc_button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Noto Sans Ethiopic", sans-serif;
  color: black;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  width: 48%;
  transition: 0.5s ease-in-out;
}
.blog .blog__article .blog__article__bloc .bloc_button a .material-symbols-outlined {
  color: black;
  font-size: 20px;
}
.blog .blog__article .blog__article__bloc .bloc_button a:hover {
  color: white;
  background-color: #C8A96A;
  border: 1px solid #C8A96A;
  transition: 0.5s ease-in-out;
}
.blog .blog__article .blog__article__bloc:hover {
  border: 1px solid black;
  transition: 0.4s ease-in-out;
}
.blog .blog__brand ul {
  display: flex;
  flex-direction: row;
}
.blog .blog__brand ul li {
  list-style: none;
  padding: 35px;
}

footer {
  height: 100%;
  background-image: url(../../images/img-ng-footer.jpg);
}
footer .footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}
footer .footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5em;
}
footer .footer__menu .footer__about ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-right: 5em;
}
footer .footer__menu .footer__about ul .footer__about--list {
  padding-bottom: 20px;
}
footer .footer__menu .footer__about ul .footer__about--title {
  padding-bottom: 20px;
}
footer .footer__menu .footer__about ul .footer__about--title a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: "Merriweather", serif;
}
footer .footer__menu .footer__about ul .footer__about--list a {
  color: grey;
  text-decoration: none;
  font-size: 15px;
  font-family: "Noto Sans Ethiopic", sans-serif;
}
footer .footer__menu .footer__facilities ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-right: 5em;
}
footer .footer__menu .footer__facilities ul .footer__facilities--list {
  padding-bottom: 20px;
}
footer .footer__menu .footer__facilities ul .footer__facilities--title {
  padding-bottom: 10px;
}
footer .footer__menu .footer__facilities ul .footer__facilities--title a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: "Merriweather", serif;
}
footer .footer__menu .footer__facilities ul .footer__facilities--list a {
  color: grey;
  text-decoration: none;
  font-size: 15px;
  font-family: "Noto Sans Ethiopic", sans-serif;
}
footer .footer__menu .footer__newsletter ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-right: 5em;
}
footer .footer__menu .footer__newsletter ul .footer__newsletter--list {
  padding-bottom: 20px;
}
footer .footer__menu .footer__newsletter ul .footer__newsletter--title {
  padding-bottom: 20px;
}
footer .footer__menu .footer__newsletter ul .footer__newsletter--title {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: "Merriweather", serif;
}
footer .footer__menu .footer__newsletter ul .footer__newsletter--list {
  color: grey;
  text-decoration: none;
  font-size: 15px;
  font-family: "Noto Sans Ethiopic", sans-serif;
}
footer .footer__menu .footer__newsletter ul label {
  position: relative;
}
footer .footer__menu .footer__newsletter ul label input {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  width: 25em;
  border: none;
  border-radius: 2px;
}
footer .footer__menu .footer__newsletter ul label input::placeholder {
  color: black;
}
footer .footer__menu .footer__newsletter ul label button {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 0 2px 2px 0;
  position: absolute;
  right: 0px;
  background-color: #C8A96A;
  color: white;
}
footer .footer__menu .footer__contact ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
footer .footer__menu .footer__contact ul .footer__contact--list {
  padding-bottom: 20px;
}
footer .footer__menu .footer__contact ul .footer__contact--title {
  padding-bottom: 20px;
}
footer .footer__menu .footer__contact ul .footer__contact--title a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: "Merriweather", serif;
}
footer .footer__menu .footer__contact ul .footer__contact--list a {
  color: grey;
  text-decoration: none;
  font-size: 15px;
  font-family: "Noto Sans Ethiopic", sans-serif;
  display: flex;
  flex-direction: row;
}
footer .footer__menu .footer__contact ul .material-symbols-outlined {
  color: #C8A96A;
  width: 30px;
}
footer .footer__foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #111516;
  margin-bottom: 40px;
}
footer .footer__foot p {
  color: grey;
  text-decoration: none;
  font-size: 12px;
  font-family: "Noto Sans Ethiopic", sans-serif;
}
footer .footer__foot p a {
  color: #C8A96A;
}
footer .footer__foot img {
  width: 5em;
}
footer .footer__foot nav {
  margin-top: 40px;
}
footer .footer__foot nav li {
  display: inline;
  color: white;
  font-size: 15px;
  background-color: grey;
  border-radius: 100%;
  padding: 10px;
  transition: 0.4s ease-in-out;
}
footer .footer__foot nav li:hover {
  display: inline;
  color: white;
  font-size: 15px;
  background-color: #C8A96A;
  border-radius: 100%;
  padding: 10px;
  transition: 0.4s ease-in-out;
}

@media (max-width: 480px) and (min-width: 321px) {
  .about-us .about-us__background p {
    font-size: 60px;
  }
  .about-us .about-us__background .about-us__icon {
    display: none;
  }
  .about-us .about-us__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us .about-us__info .info__text {
    text-align: center;
  }
  .about-us .about-us__info .info__text p {
    padding-left: 0 !important;
  }
  .about-us .about-us__info .info__text .info__btn {
    margin-right: auto;
    margin-left: auto;
  }
  .gallery .gallery__background p {
    font-size: 60px;
  }
  .gallery .gallery__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery .gallery__title h3 {
    font-size: 20px;
  }
  .gallery .gallery__pic {
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery__pic .first-column {
    padding-right: 0;
  }
  .gallery .gallery__pic .first-column .first-column-first-row {
    display: flex;
    align-items: center;
  }
  .gallery .gallery__pic .first-column .first-column-first-row .pic1 {
    display: none !important;
  }
  .gallery .gallery__pic .first-column .first-column-second-row {
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery__pic .first-column .first-column-second-row .pic2 {
    padding-right: 0 !important;
  }
  .gallery .gallery__pic .first-column .first-column-second-row .pic3 {
    padding-top: 10px;
  }
  .gallery .gallery__pic .second-column-first-row {
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery__pic .pic4 {
    padding-top: 10px;
  }
  .gallery .gallery__pic .pic5 {
    padding-left: 0 !important;
    padding-top: 10px;
  }
  .gallery .gallery__pic .second-column-second-row .pic6 {
    display: none !important;
  }
  .team .team__background p {
    font-size: 60px;
  }
  .team .team__title h3 {
    font-size: 20px;
  }
  .team .team__pic {
    padding-bottom: 100px;
  }
  .team .team__pic ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team .team__pic ul li img {
    width: 100%;
  }
  .blog .blog__background p {
    font-size: 80px;
  }
  .blog .blog__title h3 {
    font-size: 25px;
  }
  .blog .blog__article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
  }
  .blog .blog__brand ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog .blog__brand ul li {
    list-style: none;
    padding: 35px;
  }
  footer {
    width: 100%;
    height: 90em;
  }
  footer .footer__menu {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
  }
  footer .footer__menu .footer__newsletter ul {
    padding-right: 0;
  }
  footer .footer__menu .footer__newsletter ul label input {
    width: 90%;
  }
  footer .footer__foot {
    flex-direction: column;
    align-items: center;
  }
  footer .footer__foot p {
    width: 200px;
    text-align: center;
  }
  footer .footer__foot p img {
    display: none;
  }
}
@media (max-width: 320px) {
  .about-us .about-us__background p {
    font-size: 60px;
  }
  .about-us .about-us__background .about-us__icon {
    display: none;
  }
  .about-us .about-us__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us .about-us__info .info__pic img {
    width: 80%;
  }
  .about-us .about-us__info .info__text {
    text-align: center;
  }
  .about-us .about-us__info .info__text p {
    padding-left: 0 !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .about-us .about-us__info .info__text .info__btn {
    margin-right: auto;
    margin-left: auto;
  }
  .our-menu {
    padding-bottom: 250px;
  }
  .our-menu .our-menu__background p {
    font-size: 60px;
  }
  .our-menu .our-menu__background img {
    visibility: hidden;
  }
  .our-menu .our-menu__background .secondpic {
    visibility: hidden;
  }
  .our-menu .our-menu__title h3 {
    font-size: 20px;
  }
  .our-menu .our-menu__menu {
    grid-template-columns: 80%;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 15% 15%;
  }
  .gallery .gallery__background p {
    font-size: 60px;
  }
  .gallery .gallery__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery .gallery__title h3 {
    font-size: 20px;
  }
  .gallery .gallery__pic {
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery__pic .first-column {
    padding-right: 0;
  }
  .gallery .gallery__pic .first-column .first-column-first-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery .gallery__pic .first-column .first-column-first-row .pic1 {
    display: none;
  }
  .gallery .gallery__pic .first-column .first-column-second-row {
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery__pic .first-column .first-column-second-row .pic2 {
    margin-right: 0 !important;
  }
  .gallery .gallery__pic .first-column .first-column-second-row .pic3 {
    margin-top: 10px;
  }
  .gallery .gallery__pic .second-column-first-row {
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery__pic .pic4 {
    margin-top: 10px;
  }
  .gallery .gallery__pic .pic5 {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  .gallery .gallery__pic .second-column-second-row .pic6 {
    display: none !important;
  }
  .team .team__background p {
    font-size: 60px;
  }
  .team .team__title h3 {
    font-size: 20px;
  }
  .team .team__pic {
    padding-bottom: 100px;
  }
  .team .team__pic ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team .team__pic ul li img {
    width: 100%;
  }
  .blog .blog__background p {
    font-size: 80px;
  }
  .blog .blog__title h3 {
    font-size: 25px;
  }
  .blog .blog__article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
  }
  .blog .blog__brand ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog .blog__brand ul li {
    list-style: none;
    padding: 35px;
  }
  footer {
    width: 100%;
    height: 90em;
  }
  footer .footer__menu {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
  }
  footer .footer__menu .footer__newsletter ul {
    padding-right: 0;
  }
  footer .footer__menu .footer__newsletter ul label input {
    width: 90%;
  }
  footer .footer__foot {
    flex-direction: column;
    align-items: center;
  }
  footer .footer__foot p {
    width: 200px;
    text-align: center;
  }
  footer .footer__foot p img {
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .about-us .about-us__background p {
    font-size: 100px;
  }
  .about-us .about-us__background .about-us__icon {
    display: none;
  }
  .about-us .about-us__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us .about-us__info .info__text {
    text-align: center;
  }
  .about-us .about-us__info .info__text p {
    padding-left: 0 !important;
  }
  .about-us .about-us__info .info__text .info__btn {
    margin-right: auto;
    margin-left: auto;
  }
  .our-menu {
    padding-bottom: 250px;
  }
  .our-menu .our-menu__background p {
    font-size: 100px;
  }
  .our-menu .our-menu__background img {
    visibility: hidden;
  }
  .our-menu .our-menu__background .secondpic {
    visibility: hidden;
  }
  .our-menu .our-menu__title h3 {
    font-size: 20px;
  }
  .our-menu .our-menu__menu {
    grid-template-columns: 80%;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 15% 15%;
  }
  .gallery .gallery__background p {
    font-size: 100px;
  }
  .gallery .gallery__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery .gallery__pic {
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery__pic .first-column {
    padding-right: 0;
  }
  .gallery .gallery__pic .first-column .first-column-first-row {
    display: flex;
    align-items: center;
  }
  .gallery .gallery__pic .first-column .first-column-first-row a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery .gallery__pic .first-column .first-column-first-row a .pic1 {
    width: 80%;
  }
  .gallery .gallery__pic .first-column .first-column-second-row {
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery__pic .first-column .first-column-second-row .pic2 {
    margin-right: 0 !important;
  }
  .gallery .gallery__pic .first-column .first-column-second-row .pic3 {
    margin-top: 10px;
  }
  .gallery .gallery__pic .second-column-first-row {
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery__pic .pic4 {
    margin-top: 10px;
  }
  .gallery .gallery__pic .pic5 {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  .gallery .gallery__pic a {
    display: flex;
    justify-content: center;
  }
  .gallery .gallery__pic a .pic6 {
    width: 80%;
  }
  .team .team__background p {
    font-size: 100px;
  }
  .team .team__pic {
    padding-bottom: 100px;
  }
  .team .team__pic ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team .team__pic ul li img {
    width: 100%;
  }
  .blog .blog__article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
  }
  .blog .blog__brand ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog .blog__brand ul li {
    list-style: none;
    padding: 35px;
  }
  footer {
    width: 100%;
    height: 90em;
    background-color: black;
  }
  footer .footer__menu {
    display: flex;
    flex-direction: column;
    padding-left: 5em;
  }
  footer .footer__foot {
    flex-direction: column;
    align-items: center;
  }
  footer .footer__foot p {
    width: 200px;
    text-align: center;
  }
  footer .footer__foot p img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
